{
  "printWidth": 100,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "jsxSingleQuote": false,
  "trailingComma": "all",
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "htmlWhitespaceSensitivity": "strict",
  "quoteProps": "preserve",
  "plugins": ["prettier-plugin-svelte"],
  "endOfLine": "lf",
  "svelteSortOrder": "options-styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": true
}
